<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <!-- Boostrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<!-- <%= personas %>  Probando la variable--> 
<body>

    <div>
        <div class="card">
          <div>
            <form action="/add_person" method="post">
                <h1 class = "lead">Ingresar nueva persona aquí</h1>
                <div class ="form-group">
                    <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                </div>
                <div class ="form-group">
                    <input type="text" name="apellido" placeholder="Apellido" class="form-control">
                </div>
                <div class ="form-group">
                    <input type="number" name="edad" placeholder="Edad" class="form-control">
                </div>
                <div class ="form-group">
                    <input type="text" name="ci" placeholder="CI" class="form-control">
                </div>
                <button class="btn btn-primary" type="sumbit">
                    Agregar
                </button>
            </form>
          </div>
        </div>
      </div>


      <!-- Tabla -->
      <div class="col -md -7">
        <table class="table table-bordered table-hover">

            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>CI</th>
                    <th>    </th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0;i < personas.length;i++) {%>
                    <tr>
                        <td><%= i + 1%></td>
                        <td><%= personas[i].nombre %></td>
                        <td><%= personas[i].apellido %></td>
                        <td><%= personas[i].edad %></td>
                        <td><%= personas[i].ci %></td>
                        <td>
                            <a href="/delete/<%= personas[i]._id %>">Borrar</a>
                        </td>
                      </tr>
                <% } %>
            </tbody>
        </table>


      </div>


</body>
</html>